<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>J2EE-Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CreateContact</display-name>
    <servlet-name>CreateContact</servlet-name>
    <servlet-class>com.tac.servlet.CreateContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateContact</servlet-name>
    <url-pattern>/CreateContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchContact</display-name>
    <servlet-name>SearchContact</servlet-name>
    <servlet-class>com.tac.servlet.SearchContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchContact</servlet-name>
    <url-pattern>/SearchContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateContact</display-name>
    <servlet-name>UpdateContact</servlet-name>
    <servlet-class>com.tac.servlet.UpdateContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateContact</servlet-name>
    <url-pattern>/UpdateContact</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>CreateContactGroup</display-name>
    <servlet-name>CreateContactGroup</servlet-name>
    <servlet-class>com.tac.servlet.CreateContactGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateContactGroup</servlet-name>
    <url-pattern>/CreateContactGroup</url-pattern>
  </servlet-mapping>
  
</web-app>